*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2ebe3;
}

main {
  background-color: #ffffff;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}
button {
  border: none;
}
.wrapper {
  margin: 50 60;
}

.design {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

img {
  max-width: 100%;
}

.pre {
  color: #6c7289;
  padding: 20px;
  letter-spacing: 7px;
  font-family: "montserrat";
}

.perfume {
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Fraunces";
}

.about {
  line-height: 25px;
  color: #6c7289;
  font-family: "montserrat";
}

.new-price {
  color: #3c8067;
  font-size: 1.8em;
  font-family: "fraunces";
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  gap: 1em;
}

.old-price {
  text-decoration: line-through;
  color: #6c7289;
  text-align: center;
  font-family: "montserrat";
}

.btn-cart {
  cursor: pointer;
  background-color: #3c8067;
  color: #ffffff;
  border-radius: 5px;
  /* margin: 20px; */
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: "montserrat";
}

.btn-cart:hover,
.btn-cart:active {
  background-color: #1b4133;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width) {
  main {
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 15px;
  }
}
